{% extends "chat/base.html" %} {% load crispy_forms_tags %}
{% load extras %}
{% block head_content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock head_content %}
{% block content %}
<div class="content-section chat-content-section">

  <div class="container-fluid vh-100">
    <div class="row h-100">
      <!-- User List Sidebar -->
      <div class="col-12 col-md-3 col-lg-3 bg-light border-end d-flex flex-column">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h5 class="mb-0">Чаты</h5>
        </div>
        <div class="list-group overflow-auto">
          {% for chat_data in chats_data %}
          {% if character in chat_data.characters %}
          <button type="button" id="btn-redirect-chat-{{chat_data.chat.id}}"
            class="list-group-item list-group-item-action {%if chat_data.chat.is_general%}active{%endif%}">
            <div class="d-flex align-items-center">
              <img style="max-width:40px;max-height:40px"
                src="{% if character == chat_data.characters.0 %}{{ chat_data.characters.1.image.url }}{% else %}{{ chat_data.characters.0.image.url }}{% endif %}"
                class="rounded-circle me-3">
              <div class="chat-top-{{chat_data.chat.id}}">
                <div class="fw-bold pb-2">
                  {% if chat_data.chat.is_general %}
                  Общий
                  {% elif chat_data.chat.is_friends %}
                  Друзья
                  {% else %}
                  {% if character == chat_data.characters.0 %}
                  {{ chat_data.characters.1.name }}
                  {% else %}
                  {{ chat_data.characters.0.name }}
                  {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>

      <!-- Chat Area -->
      <div class="col-12 col-md-9 col-lg-8 d-flex flex-column h-100">
        <div class="d-flex justify-content-between align-items-center p-3 border-bottom">
          <div class="d-flex align-items-center">
            <img style="max-height:50px;max-width:50px" src="{{chats_data.0.characters.0.image.url}}"
              class="rounded-circle me-3" alt="User 1" id="current-chat-image">
            <div>
              <h6 class="mb-0" id="current-chat-header">Общий</h6>
            </div>
          </div>
        </div>
        <div class="chat-messages p-3 flex-grow-1 overflow-auto">
          {% for message in chats_data.0.messages %}
          <div class="message mb-3 {% if character == message.character %}text-end{%endif%}">
            <div class="d-inline-block bg-primary bg-light p-2 rounded">
            <img src="{{message.character.image.url}}" class="rounded-circle ms-2" style="max-width:40px;max-height:40px">
            <br>
            <small style="white-space: pre-wrap; word-break: break-word; ">{{message.content}}</small>
            {% if message.image %}
            <br><img src="{{message.image.url}}" class="ms-2" style="max-width:50vw;max-height:50vw">
            {% endif %}
            <small class="text-muted d-block">{{message.date_added|time:'H:i:s'}}</small>
            </div>
          </div>
          {% endfor %}
        </div>

        <!-- Message Input -->
        <div class="p-3 border-top">
          <div class="input-group">
            <button id="recordButton" class="inactive" onclick="transcribe.toggleRecording()">
              <i class="fas fa-microphone"></i>
            </button>
            <textarea id="messageInput" class="form-control" placeholder={% if is_blocked_by_fighting %}"Битва идет..." disabled{% else %}"Напишите сообщение..."{% endif %} rows="1"></textarea>
            <button class="btn btn-primary send-message-btn" {% if is_blocked_by_fighting %}disabled{% endif %}>Отправить</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  {% block scripts %}
  <script>
    var unseenData = {
      {%for chat_data in chats_data%}
      {%if character in chat_data.characters%}{{chat_data.chat.id}}: 0,{%endif%}
      {%endfor%}
    };
    const textarea = document.getElementById('messageInput');

    function updateTextAreaSize(){
      textarea.style.height = 'auto';
      textarea.style.height = (textarea.scrollHeight) + 'px';
    }

    textarea.addEventListener('input', function () {updateTextAreaSize()});
    
    const chatMessages = $(".chat-messages");
    const messageInput = $("#messageInput");
    const sendBtn = $(".send-message-btn");
    var recordBtn = $("#recordButton");

    var generalChatId = {{ chats_data.0.chat.id }};
    var friendsChatId = {{ chats_data.1.chat.id }};
    var currentChatId = {{ chats_data.0.chat.id }};
    var characterId = {{ character.id }};
    var chatIds = [{%for chat_data in chats_data%}{%if character in chat_data.characters%}{{chat_data.chat.id}},{%endif%}{%endfor%}];
    var isBlockedByFighting = '{{is_blocked_by_fighting}}' == 'True';
    var isDead = '{{character.stats.failure}}' >= 3;
    var chatIdsDM = [{%for chat_data in chats_data%}{%if characterDM in chat_data.characters %}{{chat_data.chat.id}},{%endif%}{%endfor%}];
    var chatId2Image = {
      {% for chat_data in chats_data %}
      {% if character in chat_data.characters %}
      {{chat_data.chat.id}}: '{% if character == chat_data.characters.0 %}{{ chat_data.characters.1.image.url }}{% else %}{{ chat_data.characters.0.image.url }}{% endif %}',
      {% endif %}
      {% endfor %}
    };
    var chatId2Header = {
      {% for chat_data in chats_data %}
      {% if character in chat_data.characters %}
        {{chat_data.chat.id}}: 
        {% if chat_data.chat.is_general %}
        'Общий'
        {% elif chat_data.chat.is_friends %}
        'Друзья'
        {% else %}
          {% if character == chat_data.characters.0 %}
          '{{ chat_data.characters.1.name }}'
          {% else %}
          '{{ chat_data.characters.0.name }}'
          {% endif %}
        {% endif %},
      {% endif %}
      {% endfor %}
    };
    var allMessagesData = {
    {%for chat_data in chats_data%}
    {{chat_data.chat.id}}: 
      [{%for message in chat_data.messages%}
        {content: `{{message.content}}`,
         image: '{{message.character.image.url}}',
         character_id: {{message.character.id}},
         date: '{{message.date_added|time:'H:i:s'}}',
        },
      {%endfor%}],
    {%endfor%}
  };
  var blocked_chat_ids = [{%for chat_data in chats_data%}{%if chat_data.chat.is_blocked %}{{chat_data.chat.id}},{%endif%}{%endfor%}];

    function update_unseen_message(){
      $(".new-messages-count").remove();
      for (var ind in chatIds){
        chatId = chatIds[ind];
        if (unseenData[chatId] == 0){
          continue;
        }
        let html =  '<span class="badge bg-danger rounded-pill translate-middle mt-2 ms-2 new-messages-count">';
            html += unseenData[chatId];
            html += '</span>';
        $('.chat-top-' + chatId)[0].innerHTML += html;
      }
    }

    function addMessage(data){
      var html = "";
      if (data.character_id == characterId){
        html += '<div class="message mb-3 text-end">';
      }else{
        html += '<div class="message mb-3">';
      }
      html += '<div class="d-inline-block bg-primary bg-light p-2 rounded">';
      html += '<img src="' + data.image + '" class="rounded-circle ms-2" style="max-width:40px;max-height:40px">';
      html += '<br>';
      html += '<small style="white-space: pre-wrap; word-break: break-word;">' + data.content + '</small>';
      if (data.content_image){
        html += '<br><img src="' + data.content_image + '" class="ms-2" style="max-width:50vw;max-height:50vw">';
      }
      html += '<small class="text-muted d-block">' + data.date + '</small>';
      html += '</div>';
      html += '</div>';

      chatMessages[0].innerHTML += html;
    }

    function updateChatBlockStatus(){
      var status = 0;
      if (blocked_chat_ids.includes(currentChatId)){
        status = 1;
      }else if (isBlockedByFighting){
        status = 2;
      }
      if (isDead && !status && currentChatId == generalChatId){
        status = !status;
      }
      if (transcribe.listening){
        transcribe.toggleRecording();
      }
      recordBtn.prop("disabled", status != 0);
      sendBtn.prop("disabled", status != 0);
      messageInput.prop("disabled", status != 0);
      if (isDead && currentChatId == generalChatId){
        messageInput.attr("placeholder", "Вы мерты :(");
      }else if (status == 1){
        messageInput.attr("placeholder", "Мастер думает...");
      }else if (status == 2){
        messageInput.attr("placeholder", "Битва идет...");
      }else {
        messageInput.attr("placeholder", "Напишите сообщение...");
      }
    }


    const roomSocket = new WebSocket(
      'wss://' + window.location.host + '/ws/room/{{room.name}}/{{character.id}}/'
    );
    roomSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      if (data.type == "message_received") {
        if (currentChatId == data.chat_id) {
          addMessage(data);
          chatMessages.scrollTop(chatMessages[0].scrollHeight);
        } else if (data.character_id != characterId) {
          unseenData[data.chat_id] += 1;
          update_unseen_message();
        }
        allMessagesData[data.chat_id].push({content: data.content,
          image: data.image,
          content_image: data.content_image,
          character_id: data.character_id,
          date: data.date,
        });
      } else if(data.type == "update_chat_block_status"){
        blocked_chat_ids = data.blocked_chat_ids;
        updateChatBlockStatus();
      } else if(data.type == "update_is_blocked_by_fighting_status"){
        isBlockedByFighting = data.status;
        updateChatBlockStatus();
      } else if(data.type == "update_is_dead_status"){
        isDead = data.status;
        updateChatBlockStatus();
      }
      else {
        console.log(data);
      }
    };
    roomSocket.onclose = function (e) {
      console.error('Chat socket closed unexpectedly');
    };

    function sendEvent(){
      if (!messageInput.val()) {
        return;
      }
      if (chatIdsDM.includes(currentChatId) && generalChatId != currentChatId && friendsChatId != currentChatId){
        blocked_chat_ids.push(currentChatId);
        updateChatBlockStatus();
        roomSocket.send(
          JSON.stringify({
            "type": "change_chat_block_status",
            "chat_id": currentChatId,
            "status": true
          })
        );
      }
      roomSocket.send(
        JSON.stringify({
          "type": "send_message",
          "chat_id": currentChatId,
          "message": messageInput.val(),
        })
      );
      messageInput.val("");
      textarea.style.height = 'auto';
      textarea.style.height = (this.scrollHeight) + 'px';
    }

    textarea.addEventListener("keypress", function(e) {
      if (event.key == "Enter" && !e.shiftKey) {
        e.preventDefault();
        sendEvent();
      }
    });

    sendBtn.on("click", function (e) {
      sendEvent();
    });

    function redirectChat(chatId){
      function out(){
        $("#current-chat-image").attr("src", chatId2Image[chatId]);
        $("#current-chat-header")[0].innerHTML = chatId2Header[chatId];
        $("#btn-redirect-chat-" + currentChatId)[0].classList.remove("active");
        $("#btn-redirect-chat-" + chatId)[0].classList.add("active");
        currentChatId = chatId;
        chatMessages[0].innerHTML = "";
        for (const ind in allMessagesData[chatId]){
          addMessage(allMessagesData[chatId][ind]);
        }
        unseenData[currentChatId] = 0;
        update_unseen_message();
        updateChatBlockStatus();
      }
      return out;
    }
    for (const ind in chatIds){
      const chatId = chatIds[ind];
      $("#btn-redirect-chat-" + chatId).on("click", redirectChat(chatId));
    }

    async function sendToOpenAI(text) {
      const url = '/api/get_transcript';

      const response = await fetch(url, {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify({
              text: text,
          })
      });

      const data = await response.json();
      return data.text;
  }
    
    var transcribe = {
      hres : null,
      htog : null,
      sr : null,
      listening : false,
    
      init : () => {
        transcribe.hres = textarea;
        transcribe.htog = document.getElementById("recordButton");
    
        const SR = window.SpeechRecognition || window.webkitSpeechRecognition;
        transcribe.sr = new SR();
        transcribe.sr.lang = "ru-RU";
        transcribe.sr.continuous = true;
        transcribe.sr.interimResults = false;
    
        transcribe.sr.onresult = async e => {
          let said = e.results[e.results.length-1][0].transcript.trim();
          said = said.charAt(0).toUpperCase() + said.slice(1) + ".";
          console.log(said);
          let processed = await sendToOpenAI(said);
          textarea.value += processed + " ";
          updateTextAreaSize();
        };
    
        transcribe.sr.onerror = e => {
          console.error(e);
          transcribe.htog.classList.remove("active");
          transcribe.htog.classList.add("inactive");
          alert("Убедитесь, что ваш микрофон включен и сайту выданы соответствующие права");
        };
      },
    
      toggleRecording : () => {
        if (transcribe.listening) {
          transcribe.sr.stop();
          transcribe.htog.classList.remove("active");
          transcribe.htog.classList.add("inactive");
        } else {
          transcribe.sr.start();
          transcribe.htog.classList.remove("inactive");
          transcribe.htog.classList.add("active");
        }
        transcribe.listening = !transcribe.listening;
      }
    };
    
    window.addEventListener("load", transcribe.init);
    updateChatBlockStatus();

  </script>
  {% endblock scripts %}
</div>
{% endblock content %}