{% extends "chat/base.html" %} {% load crispy_forms_tags %}
{% block head_content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock head_content %}
{% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">
        🐉Хай! Присоединяйтесь к комнате!
      </legend>
      {{ form|crispy }}
    </fieldset>
    <div>
      {% if not characters %}
      <p>Кажется, у вас нет персонажей. Создайте нового в <a href="/profile">профиле</a></p>
      {% else %}
      <div class="dropdown">
        <div class="btn btn-outline-info choose-char-btn">Выбрать персонажа</div>
        <div class="dropdown-content">
          {% for character in characters %}
          <div class="content-section" id="{{character.id}}">
            <img class="rounded-circle article-img" src="{{character.image.url}}">
            <p class="article-content">{{character.name}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <input name="char_id" type="text" class="character-chosen-id" hidden>
      <button class="btn btn-outline-info start-btn" type="submit">
        Начать спуск в сюжет!
      </button>
    </div>
</div>
</form>
</div>
{% endblock content %}
{% block js_scripts %}
<script>
  var selectedCharacter = '';
  var chooseCharBtn = $(".choose-char-btn")[0];
  var chosenInd = -1;

  var startBtn = $(".start-btn");
  startBtn.hide();

  var characterChosenId = $(".character-chosen-id");

  $('.dropdown-content .content-section').on('click', function () {
    selectedCharacter = $(this).find('.article-content').text();
    imgCharacter = $(this).find('.article-img').attr('src');

    chooseCharBtn.innerHTML = '<div class="container"><div class="row"><div class="col-xs"><img class="rounded-circle article-img" src="' + imgCharacter + '"></div><div class="col-xs page-hero d-flex align-items-center justify-content-center">' + selectedCharacter + '</div></div></div>'
    $(".start-btn")[0].style.height = $(".dropdown").height() + "px";
    chosenInd = $(this).attr('id');

    $('.dropdown-content').hide();
    $('.dropdown').trigger("mouseover");

    startBtn.show();
    characterChosenId[0].value = chosenInd;
  });

  $('.dropdown').hover(function () {
    $('.dropdown-content').show();
  },
    function () {
      $('.dropdown-content').hide();
    });

</script>
{% endblock %}