{% extends "chat/base.html" %} {% load crispy_forms_tags %}
{% load static %}
{% block head_content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="{% static 'characters/sheet1.css' %}" rel="stylesheet">
<link href="{% static 'characters/sheet2.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="content-section">
  <form method="POST" class="character-form">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Create Character</legend>

      <div id="root">
        <div>
          <div class="d-and-d-character-sheet container-xl mt-5 mb-5">
            <div>
              <div class="row mb-4">
                <div class="col-md-4">
                  <div class="d-and-d-box gray noborder" style="margin-bottom: 13px;">
                    <div class="d-and-d-faction-input mx-auto"><label>Имя персонажа</label><input class="character-name bg-secondary text-light" type="text" value="Johnatan">
                    </div>
                    <div class="d-and-d-image faction gy-10"></div><input onchange="LoadFile(this)" type="file" id="d-and-d-image-factionImg"
                    accept="image/*" style="display: none;"><br><br>
                    <button type="button" class="btn bg-secondary text-light generate-btn" name="generate" style="width:100%">Сгенерировать (~30 секунд)</button>
                  </div>
                </div>
                <div class="col-md-7 pr-2 pl-2 mt-auto" style="padding:10px">

                  <div class="d-and-d-attribute-collection pr-3 pl-3">
                    <div class="row pl-3 pr-3">
                      <div class="col-6 pl-0 pr-0">
                        <select id="custom-class" name="custom-class" class="custom-class">
                      </select><label>Класс
                          </label>
                      </div>
                      <div class="col-6 pl-0 pr-0"><input type="text" value="1" class="level-input"><label>Уровень</label></div>
                    </div>
                    <div class="row pl-3 pr-3">
                      <div class="col-6 pl-0 pr-0"><select class="custom-race" id="custom-race" name="custom-race">
                      </select><label>Раса</label>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-4 pr-1">
                      <div class="d-and-d-box gray main-stats">
                        <div class="main-stat">
                          <div class="d-and-d-statbox"><label>Сила</label>
                            <div class="d-and-d-statbox-modifier">-5</div>
                          </div>
                          <div class="d-and-d-statbox-value"><input type="text" value="1">
                          </div>
                        </div>
                        <div class="main-stat">
                          <div class="d-and-d-statbox"><label>Ловкость</label>
                            <div class="d-and-d-statbox-modifier">-5</div>
                          </div>
                          <div class="d-and-d-statbox-value"><input type="text" value="1">
                          </div>
                        </div>
                        <div class="main-stat">
                          <div class="d-and-d-statbox"><label>Телосложение</label>
                            <div class="d-and-d-statbox-modifier">-5</div>
                          </div>
                          <div class="d-and-d-statbox-value"><input type="text" value="1">
                          </div>
                        </div>
                        <div class="main-stat">
                          <div class="d-and-d-statbox"><label>Интеллект</label>
                            <div class="d-and-d-statbox-modifier">-5</div>
                          </div>
                          <div class="d-and-d-statbox-value"><input type="text" value="1">
                          </div>
                        </div>
                        <div class="main-stat">
                          <div class="d-and-d-statbox"><label>Мудрость</label>
                            <div class="d-and-d-statbox-modifier">-5</div>
                          </div>
                          <div class="d-and-d-statbox-value"><input type="text" value="1">
                          </div>
                        </div>
                        <div class="main-stat">
                          <div class="d-and-d-statbox"><label>Харизма</label>
                            <div class="d-and-d-statbox-modifier">-5</div>
                          </div>
                          <div class="d-and-d-statbox-value"><input type="text" value="1">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="d-and-d-statrow rounded">
                        <div class="d-and-d-statrow-value"><input class="proficiency-input" type="text" value="1">
                        </div>
                        <div class="d-and-d-statrow-label"><label>Бонус владения</label>
                        </div>
                      </div>
                        <div class="d-and-d-statrow rounded rounded-sides">
                          <div class="d-and-d-statrow-value"><input type="text" value="5" class="perception-input"></div>
                          <div class="d-and-d-statrow-label"><label>Восприятие</label></div>
                        </div>
                      <div class="d-and-d-box">
                        <div style="text-align: left;" class="saving-throws-container">
                          <div class="d-and-d-skill">
                            <input type="text" value="0"><label>Сила</label>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text" value="0"><label>Ловкость</label>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="0"><label>Телосложение</label>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="0"><label>Интеллект</label>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text" value="0"><label>Мудрость</label>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text" value="0"><label>Харизма</label>
                          </div>
                        </div><label class="d-and-d-title" style="margin-top: 10px;">Спасброски</label>
                      </div>
                      <div class="d-and-d-box">
                        <div style="text-align: left;" class="skills-container">
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="-4"><label>Акробатика</label><span class="d-and-d-skill-hint">(Лов)</span>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="-4"><label>Анализ</label><span class="d-and-d-skill-hint">(Инт)</span>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="-4"><label>Атлетика</label><span class="d-and-d-skill-hint">(Сил)</span>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="-4"><label>Восприятие</label><span class="d-and-d-skill-hint">(Муд)</span>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="-4"><label>Выживание</label><span class="d-and-d-skill-hint">(Муд)</span>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="-4"><label>Выступление</label><span class="d-and-d-skill-hint">(Хар)</span>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="-4"><label>Запугивание</label><span class="d-and-d-skill-hint">(Хар)</span>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="-4"><label>История</label><span class="d-and-d-skill-hint">(Инт)</span>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text" value="-4"><label>Ловкость рук</label><span class="d-and-d-skill-hint">(Лов)</span>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="-4"><label>Магия</label><span class="d-and-d-skill-hint">(Инт)</span>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="-4"><label>Медицина</label><span class="d-and-d-skill-hint">(Муд)</span>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="-4"><label>Обман</label><span class="d-and-d-skill-hint">(Хар)</span>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="-4"><label>Природа</label><span class="d-and-d-skill-hint">(Инт)</span>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="-4"><label>Проницательность</label><span class="d-and-d-skill-hint">(Муд)</span>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="-4"><label>Религия</label><span class="d-and-d-skill-hint">(Инт)</span>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="-4"><label>Скрытность</label><span class="d-and-d-skill-hint">(Лов)</span>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text"
                              value="-4"><label>Убеждение</label><span class="d-and-d-skill-hint">(Хар)</span>
                          </div>
                          <div class="d-and-d-skill">
                            <input type="text" value="-4"><label>Уход за животными</label><span class="d-and-d-skill-hint">(Муд)</span>
                          </div>
                        </div><label class="d-and-d-title" style="margin-top: 10px;">Skills</label>
                      </div>
                    </div>
                  </div>
                  <div class="d-and-d-box mt-4"><textarea class="proficiencies" rows="11"></textarea><label class="d-and-d-title"
                      style="margin-top: 10px;">Прочие владения</label></div>
                </div>
                <div class="col-md-4">
                  <div class="d-and-d-box gray">
                    <div class="row">
                      <div class="col-6 pr-2">
                        <div>
                          <div class="d-and-d-statbox type2 shield">
                            <div class="d-and-d-statbox-modifier"><input class="armour-input" type="text" value="5"></div>
                            <div><label class="label-top">КЗ</label></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 pl-2">
                        <div>
                          <div class="d-and-d-statbox type2">
                            <div class="d-and-d-statbox-modifier"><input class="initiative-input"  type="text" value="-4"></div>
                            <div><label>Инициатива</label></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="d-and-d-box white"
                      style="border-radius: 8px 8px 0px 0px; margin-bottom: 5px; padding-bottom: 5px;">
                      <input type="text" class="current-hit d-and-d-cinput"
                        value="10" class="current-hit"><label class="d-and-d-title" style="margin-top: 5px;">Текущие хиты</label>
                    </div>
                    <div class="d-and-d-box white"
                      style="border-radius: 8px 8px 0px 0px; margin-bottom: 5px; padding-bottom: 5px;">
                      <div class="d-and-d-gray-text">
                        <div class="d-and-d-deathsave d-and-d-save-success">
                          <label>Успехи</label>
                          <div style="display: inline-block;">
                            <div class="d-and-d-skill-circle"></div>=<div class="d-and-d-skill-circle"></div>=<div class="d-and-d-skill-circle"></div>
                          </div>
                        </div>
                        <div class="d-and-d-deathsave d-and-d-save-failure">
                          <label>Провалы</label>
                          <div style="display: inline-block;">
                            <div class="d-and-d-skill-circle"></div>=<div class="d-and-d-skill-circle"></div>=<div class="d-and-d-skill-circle"></div>
                          </div>
                        </div><label class="d-and-d-title" style="margin-top: 6px;">Спасброски от смерти</label>
                      </div>
                    </div>
                  </div>
                  <div class="d-and-d-box mt-3">
                      <textarea rows="9" class="attacks-spellcasting"></textarea><label class="d-and-d-title" style="margin-top: 10px;">Атаки и заклинания</label>
                  </div>
                  <div class="d-and-d-box mt-4">
                    <div class="row">
                      <div class="col"><textarea class="d-and-d-equipment-indent equipment" rows="16"></textarea></div>
                    </div><label class="d-and-d-title" style="margin-top: 10px;">Снаряжение</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="d-and-d-box gray" style="margin-bottom: 17px;">
                    <div class="d-and-d-box white"
                      style="border-radius: 8px 8px 0px 0px; margin-bottom: 5px; padding-top: 1px; padding-bottom: 5px;">
                      <textarea rows="3" class="personality-traits"></textarea><label class="d-and-d-title">Черты характера</label>
                    </div>
                    <div class="d-and-d-box white"
                      style="border-radius: 0px; margin-bottom: 5px; padding-top: 1px; padding-bottom: 5px;">
                      <textarea rows="3" class="ideals"></textarea><label class="d-and-d-title">Идеалы</label>
                    </div>
                    <div class="d-and-d-box white"
                      style="border-radius: 0px; margin-bottom: 5px; padding-top: 1px; padding-bottom: 5px;">
                      <textarea rows="2" class="bonds"></textarea><label class="d-and-d-title">Привязанности</label>
                    </div>
                    <div class="d-and-d-box white"
                      style="border-radius: 0px 0px 8px 8px; margin-bottom: 0px; padding-top: 1px; padding-bottom: 4px;">
                      <textarea rows="2" class="flaws"></textarea><label class="d-and-d-title">Слабости</label>
                    </div>
                  </div>
                  <div class="d-and-d-box mt-3"><textarea rows="24" style="padding-bottom: 5px;" class="features-traits"></textarea><label
                      class="d-and-d-title" style="margin-top: 10px;">Умения и способности</label></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <button class="btn btn-outline-info create-btn" type="submit" name="create">Создать</button>
    </fieldset>

  </form>
</div>
{% endblock content %}
{% block js_scripts %}
<script src="{% static 'characters/sheet.js' %}"></script>
<script>
  curData["custom_class"] = {{custom_class|safe}};
  curData["custom_race"] = {{custom_race|safe}};
  curData["level"] = {{level|safe}};
  curData["stre"] = {{stre|safe}};
  curData["dex"] = {{dex|safe}};
  curData["cos"] = {{cos|safe}};
  curData["inte"] = {{inte|safe}};
  curData["wis"] = {{wis|safe}};
  curData["cha"] = {{cha|safe}};
  curData["stre_down"] = {{stre_down|safe}};
  curData["dex_down"] = {{dex_down|safe}};
  curData["cos_down"] = {{cos_down|safe}};
  curData["inte_down"] = {{inte_down|safe}};
  curData["wis_down"] = {{wis_down|safe}};
  curData["cha_down"] = {{cha_down|safe}};
  curData["proficiency_bonus"] = {{proficiency_bonus|safe}};
  curData["passive_perception"] = {{passive_perception|safe}};
  curData["stre_saving"] = {{stre_saving|safe}};
  curData["dex_saving"] = {{dex_saving|safe}};
  curData["cos_saving"] = {{cos_saving|safe}};
  curData["inte_saving"] = {{inte_saving|safe}};
  curData["wis_saving"] = {{wis_saving|safe}};
  curData["cha_saving"] = {{cha_saving|safe}};
  curData["acrobatics"] = {{acrobatics|safe}};
  curData["animals"] = {{animals|safe}};
  curData["arcana"] = {{arcana|safe}};
  curData["athletics"] = {{athletics|safe}};
  curData["deception"] = {{deception|safe}};
  curData["history"] = {{history|safe}};
  curData["insight"] = {{insight|safe}};
  curData["intimidation"] = {{intimidation|safe}};
  curData["investigation"] = {{investigation|safe}};
  curData["medicine"] = {{medicine|safe}};
  curData["nature"] = {{nature|safe}};
  curData["perception"] = {{perception|safe}};
  curData["performance"] = {{performance|safe}};
  curData["persuasion"] = {{persuasion|safe}};
  curData["religion"] = {{religion|safe}};
  curData["sleightofhand"] = {{sleightofhand|safe}};
  curData["stealth"] = {{stealth|safe}};
  curData["survival"] = {{survival|safe}};
  curData["proficiencies"] = {{proficiencies|safe}};
  curData["current_hit"] = {{current_hit|safe}};
  curData["attacks_spellcasting"] = {{attacks_spellcasting|safe}};
  curData["equipment"] = {{equipment|safe}};
  curData["personality_traits"] = {{personality_traits|safe}};
  curData["ideals"] = {{ideals|safe}};
  curData["bonds"] = {{bonds|safe}};
  curData["flaws"] = {{flaws|safe}};
  curData["features_traits"] = {{features_traits|safe}};
  curData["success"] = {{success|safe}};
  curData["failure"] = {{failure|safe}};
  curData["armour"] = {{armour|safe}};
  curData["initiative"] = {{initiative|safe}};
  curData["speed"] = {{speed|safe}};
  curData["image"] = {{image|safe}};
  curData["name"] = {{name|safe}};
  curData["mode"] = {{mode|safe}};
  loadData();
  if (curData["mode"] == "edit"){
      createBtn.innerHTML = "Сохранить";
      curData["char_id"] = {{char_id|safe}};
  }
</script>
{% endblock %}