{% extends "chat/base.html" %} {% load crispy_forms_tags %}
{% block head_content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock head_content %}
{% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Присоединяйтесь сейчас</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Зарегистрироваться</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
      Уже есть аккант?
      <a class="ml-2" href="{% url 'login' %}">Войти</a>
    </small>
  </div>
</div>
{% endblock content %}
